<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<div th:if="${usuarios.isEmpty()}">
  No hay ningún usuario registrado
</div>
<table th:if="${!usuarios.isEmpty()}">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Email</th>
            <th>Edad</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apellido1}"></td>
            <td th:text="${usuario.apellido2}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.edad}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>